<ion-view>
 <ion-nav-title>{{artist.name}} - {{album.title}}</ion-nav-title>
  <ion-content overflow-scroll="true" class="music-detail img-square" ng-class="hasFooter()">
	<div class="padding">
	    <figure class="square" style="background-image:url('http://localhost:3000/{{ album.cover_art.replace('100x100', '600x600') }}')"></figure>
    </div>
    <div class="padding">
	    <h4>{{album.title}}</h4>
		<p>{{artist.name}}</p>
	</div>

    <ul class="list track-list">
	    <li ng-repeat="track in tracks | orderBy: 'album_track_number'" class="item" ng-if="track.title" ng-click="lookup(track.id, track.previewUrl, $index)">
	    	<span ng-if="track.previewUrl" class="active">
		    	<span class="track-number">{{track.album_track_number}}</span>
		    	{{track.title}}
		    	<span class="item-note">
			      {{track.trackTimeMillis | amDateFormat:'m:ss'}}
			    </span>
		    </span>
		    <span ng-if="!track.previewUrl">
		    	<span class="track-number">{{track.album_track_number}}</span>
		    	{{track.title}}
		    	<span class="item-note">
			      {{track.trackTimeMillis | amDateFormat:'m:ss'}}
			    </span>
		    </span>
	    </li>
	</ul>
  </ion-content>

  <div class="music-footer" ng-if="musicPlaying" ng-click="openModal()">

    <span class="track">{{currentTrackDetails.trackName}}</span>
    <span class="artist">{{currentTrackDetails.artistName}}</span>

  </div>

</ion-view>
